.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}
